@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(rgb(0 0 0 / 0%), rgb(255 255 255 / 9%)), url(iphne177.png);
  color: #fff;
  background-position: center;
  background-size: cover;
  background-repeat: repeat;
}


.container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  align-items: center;
  max-width: 95%;
  padding: 15px;
}

.one {
  background: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, 0.405);
  border-radius: 12px;
  height: 90px;
  width: 90px;
  /* min-width: 75px; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  backdrop-filter: blur(6px);
}



h2 {
  font-size: 1.8rem;
  font-weight: 700;
}

h3 {
  font-size: 0.9rem;
  font-weight: 400;
  margin-top: 5px;
}

/* Tablet styles */
@media (min-width: 480px) {
  .one {
    height: 100px;
    width: 100px;
    min-width: 80px;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1rem;
  }
}

/* Desktop styles */
@media (min-width: 768px) {
  .container {
    gap: 15px;
    max-width: 600px;
    padding: 20px;
  }
  .one {
    height: 120px;
    width: 120px;
    min-width: 90px;
  }
  h2 {
    font-size: 2.6rem;
  }
  h3 {
    font-size: 1.4rem;
    font-weight: 600;
  }
}
